/*header*/
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #fff;
}
header nav {
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
header nav .ci-blue{
    display: none;
}
header nav ul {
    display: flex;
    gap: 110px;
}
header nav ul li {
    color: #fff;
    cursor: pointer;
}
header nav .header-icon i {
    color: #fff;
}
.header-icon select {
  height: 35px;
  background: url('../img/ico-globe.png') no-repeat left;
  background-size: 20px;
  padding: 5px 0 5px 20px;
  outline: 0 none;
  color: #fff;
  border: none;
  margin-right: 20px;
cursor: pointer;
}
.header-icon select option {
  background: black;
  color: #fff;
  padding: 3px 0;
  cursor: pointer;
}
.xi-search{cursor: pointer;}
.mainVisual {
    margin-bottom: 85px;
}

header:hover{  
  background-color: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}
header:hover nav .ci-blue{
    display: block;
}
header:hover nav .ci-wh{
    display: none;
}
header:hover nav ul li{
    color: #101010;
    font-weight: 500;
    transition: all 0.3s;
}
header:hover nav ul li:hover{
    color: #005EB8;
    font-weight: 600;
}
header:hover nav .header-icon i{
    color: #101010;
    font-weight: 600;
}
header:hover nav select{
    color: #101010;
    background: url('../img/ico-globe-bl.png') no-repeat left;
    height: 35px;
    background-size: 20px;
    padding: 5px 0 5px 20px;
    outline: 0 none;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}

/* main-visual swiper */
.main-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
    background-color: #000; 
    margin-bottom: 85px;
}
.main-banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-banner .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1;
}
.main-banner .text-group {
    position: absolute;
    left: 10%;
    top: 60%; 
    bottom: calc(10% + 150px); 
    z-index: 10;
    max-width: 800px;
}
.main-banner .text-group p {
    font-size: 1.1rem;
    opacity: 0.8;
    margin-bottom: 10px;
    font-weight: 300;
    color: #EAEAEA
}
.main-banner .text-group h2 {
    font-size: 3rem;
    line-height: 1.4;
    margin-top: 20px;
    font-weight: 300;
    color: #EAEAEA;
}

.main-banner .text-group h2 span {
    font-weight: 700;
    color: #fff;
}
.main-banner .control-container {
    position: absolute;
    left: 10%;
    bottom: 10%; 
    z-index: 20;
    display: flex;
    align-items: center;
    gap: 20px;
}
.main-banner .index-box {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
    font-weight: 400;
}
.main-banner .index-box .total {
    opacity: 0.6;
}
.main-banner .progress-bar {
    width: 150px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    border-radius: 1px;
}
.main-banner .progress-bar .fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
    width: 0%;
    border-radius: 1px;
    transition: width 0.1s linear;/
}
.main-banner .nav-arrows {
    display: flex;
    gap: 10px;
}
.main-banner .swiper-button-prev,
.main-banner .swiper-button-next {
    position: static !important;
    color: #fff !important;
    width: 30px !important; 
    height: 30px !important;
    margin: 0 !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.main-banner .swiper-button-prev::after,
.main-banner .swiper-button-next::after {
    font-size: 16px;
    font-weight: bold;
}
.main-banner :root {
    --swiper-navigation-size: 30px !important;
}

/* section01 */
.sec01 {
    padding: 85px 0;
}
.sec01 h2 span {
    color: rgba(0, 94, 184, 1);
}
.about > .inner {
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    padding-bottom: 34px;
}
.about .inner p {
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
}
.about .inner .btn-box i {
    font-size: x-large;
    cursor: pointer;
}
.about .inner .btn-box i:first-child {
    margin-right: 14px;
}
.about-prev.swiper-button-disabled,
.about-next.swiper-button-disabled {
    opacity: 0.2;
    pointer-events: none;
    cursor: default;
}
.about .slider-title {
    margin-top: 20px;
}
.about .slider-box .slide-wrap {
    display: flex;
    gap: 20px;
    width: 1420px;
    margin: auto;
    overflow: hidden;
}
/* section01 > about-slider */
.sec01 .slider-container {
    width: 1420px;
    margin: 0 auto;
    position: relative;
}
.sec01 .about-slider {
    width: 100%; 
}
.sec01 .about-slider .swiper-slide {
    width: 970px;
}
.sec01 .about-slider .swiper-slide img {
    width: 100%;
    display: block;
}

/* section2 */
.sec02 {
    padding: 85px 0;
}
.sec02 h2 {
    padding-bottom: 34px;
}
.sec02 .business-list {
    display: flex;
    width: 100%;
    height: 693px;
    overflow: hidden;
}
.sec02 .business-list .bus-box {
    flex: 1;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    filter: brightness(1);
    transition: flex 0.7s cubic-bezier(0.4, 0, 0.2, 1), filter 0.5s;
}
.sec02 .business-list:hover .bus-box {
    filter: brightness(0.5);
}
.sec02 .business-list .bus-box:hover {
    flex: 10;
    filter: brightness(1);
    z-index: 10;
}
.sec02 .business-list .bus-box:nth-child(1) {
    background-image: url('../img/business01.png');
}
.sec02 .business-list .bus-box:nth-child(2) {
    background-image: url('../img/business02.png');
}
.sec02 .business-list .bus-box:nth-child(3) {
    background-image: url('../img/business03.png');
}
.sec02 .business-list .bus-box:nth-child(4) {
    background-image: url('../img/business04.png');
}
.sec02 .business-list .bus-box:nth-child(5) {
    background-image: url('../img/business05.png');
}
.sec02 .business-list .bus-box .txt-box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 60px 30px;
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    white-space: nowrap;
}
.sec02 .business-list .bus-box .txt-box h4 {
    color: #fff;
}
/* section3 */
.sec03 {
    padding: 85px 0;
}
.sec03 .inner {
    overflow: hidden;
}
.sec03 .titile h2 {
    padding-bottom: 10px;
}
.sec03 .certi-list {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}
.certi-rolling-container {
    margin-top: 47px;
    width: 100%;
    overflow: hidden;
}
.certi-list-wrapper {
    display: flex;
    width: max-content;
    animation: rollingLoop 40s linear infinite; 
}
.sec03 .certi-list .certi-box {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    flex: none;
    box-sizing: border-box;
    user-select: none;
}
.sec03 .certi-list .certi-box div:first-child {
    height: 150px;
    display: grid;
    place-items: center;
}
.sec03 .certi-list .certi-box div:last-child {
    border-top: 1px solid #e0e0e0;
    padding: 16px 20px;
}
@keyframes rollingLoop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.certi-rolling-container:hover .certi-list-wrapper {
    animation-play-state: paused;
}
/* section04 */
.sec04{
    padding: 85px 0 170px 0;
}
.sec04 .inner {
    display: flex;
    justify-content: space-between;
}
.sec04 .title p {
    color: #7c7c7c;
    margin-top: 11px;
    cursor: pointer;
}
.sec04 .title p span {
    vertical-align: sub;
    margin-left: 5px;
}
.sec04 .news-list {
    width: 700px;
    border-top: 1.5px solid #000;
}
.sec04 .news-list li {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #e0e0e0;
}
.sec04 .news-list li p{
    cursor: pointer;
    transition: all 0.3s;
}
.sec04 .news-list li p:hover{
    color: #005EB8;
    padding-left: 10px;
}
.sec04 .news-list li p:first-child {
    font-weight: 700;
}
.sec04 .news-list li p:last-child {
    font-size: 14px;
    color: #7c7c7c;
}
/* 영업팀 문의 배너 */
.ask-banner {
    background-image: url(../img/banner-ask.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 40px 0;
}
.ask-banner a {
    display: inline-block;
    margin-top: 20px;
    background-color: #101010;
    padding: 14px 46px;
    color: #eaeaea;
    font-weight: 700;
    border-radius: 25px;
}

/*footer*/
footer {
    background: #303030;
    color: #eaeaea;
    padding: 70px 0 !important;
}
footer .l-side ul {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 30px 0;
}
footer .l-side ul li a {
    color: #eaeaea;
}
footer .copyright {
    font-size: 14px;
}
footer .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer .r-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 29px;
}
footer .r-side .sns-links a:not(:first-child) {
    margin-left: 14px;
}
.family-site-select {
    position: relative;
    width: 220px;
    display: inline-block;
}
#family-select {
    width: 100%;
    height: 45px;
    padding: 13px 30px;
    
    /* 기본 화살표 제거 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border: 1px solid #EAEAEA;
    background-color: #303030;
    color: #eaeaea;
    cursor: pointer;
    outline: none;
}
.family-site-select::after {
    content: '';
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%);
    width: 20px;  
    height: 10px;
    background: url('../img/ico-arrow-down.png') no-repeat center;
    pointer-events: none; 
}
footer .family-site-select select option {
    background-color: #262626;
    padding: 20px 10px;
    color: #EAEAEA;
}
